---
import { ICON_APPLE, ICON_GOOGLE_PLAY } from '@data/icons';

interface Props {
  appName: string;
  appStoreUrl: string;
  googlePlayUrl: string;
}

const { appName, appStoreUrl, googlePlayUrl } = Astro.props;
---

<div class="download-banner" id="download-banner" hidden>
  <div class="download-banner-inner">
    <span class="download-banner-text">{appName}</span>
    <a class="download-banner-btn download-banner-ios" href={appStoreUrl} target="_blank" rel="noopener" hidden>
      <Fragment set:html={ICON_APPLE} />
      App Store
    </a>
    <a class="download-banner-btn download-banner-android" href={googlePlayUrl} target="_blank" rel="noopener" hidden>
      <Fragment set:html={ICON_GOOGLE_PLAY} />
      Google Play
    </a>
  </div>
</div>
